.contatos{
    background-color:var(--azul-teal);
    font-family: var(--font-secundaria);
    padding: 45px;
}

.correio {
    width: 1.5%;
}

.cel {
    width: 1.1%;
    margin: 0.2em;
}

.localizacao{
    width: 1.9%;
}

.contato{
    color: var(--preto);
    background-color: var(--azul-teal);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
    font-family: var(--fonte-primaria);
}
