*{
    margin: 0;
}


.cabecalho{
    padding: 1% 5% 5% 10% ;
    font-family: var(--font-secundaria);
    text-decoration: none;
    text-align: center ;
    background-color:var(--preto-azulado);
    color: var(--branco);
}
